
CelticSea/FLBEIA_model/CelticSea/bootstrap/data/ices_intercatch/2019 06 22 WGMIXFISH CANUM WECA for stocks with distributions all WG 2002 2019.csv
CelticSea/FLBEIA_model/bootstrap/data/ices_intercatch/2019 06 22 WGMIXFISH CANUM WECA for stocks with distributions all WG 2002 2019.csv
CelticSea/FLBEIA_model/bootstrap/data/ices_intercatch/2020 06 22 WGMIXFISH CATON stocks with distributions all WG 2002 2019.csv
CelticSea/FLBEIA_model/.Rhistory
